.background-images .one {
  width: 100%;
  height: 800px;
  position: relative;
  background-color: red; }
  .background-images .one:after {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 450px;
    background-color: #fafafa;
    z-index: 5;
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-backface-visibility: hidden; }
