<!-- <div class="master-wrapper-page">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  </nav>
  <section class = "first-section">
    <div class="inner-div">
    </div>
  </section>
  <section class = 'second-section'>
    <h1 id = "banner"ng-mouseover = "shrinkCool()">Web Developer in <span>in Charleston</span> <small></small></h1>
    <span id = 'canvas'></span>
    <ul>
      <li>	&#9632 We-Day</li>
      <li>	&#9632 Scrabble-Web</li>
      <li>	&#9632 Vdl Associates</li>
      <li>	&#9632 Onion Headlines</li>
    </ul>
  </section>
  <section class = 'third-section'>
    <div class="inner-div">
      <middle-section></middle-section>
    </div>
  </section>
  <footer>
    <div class="left">
      <h1>address <small></small></h1>
      <p>
        P.O. 20546 Charleston SC
      </p>
    </div>
    <hr class = 'style-seven'>
    <div class="middle">
      <h1>Contact <small></small></h1>
      <p>
        <a href="tel:+8436479951">(843)647-9951</a>
        <a href="mailto:charleslane23@gmail.com">Email</a>
      </p>
    </div>
    <hr class = 'style-seven'>
    <div class="right">
      <h1>follow <small></small></h1>
      <a href="https://www.linkedin.com/in/charlesglane"><img src="https://pbs.twimg.com/profile_images/614583061448036352/CBpFkPaz.png" alt="" /></a>
      <a href="https://github.com/cglane"><img src="../../pics/Github-Mark/PNG/GitHub-Mark-32px.png" alt="" /></a>
    </div>

  </footer>
</div>
<div class="fixed-texture-top">

</div>
<div class="fixed-texture-bottom">

</div> -->
