<nav id = 'nav-bar'class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div ng-click ="goTo('landing')"class="svg-wrapper">
    <svg  xmlns="http://www.w3.org/2000/svg">
      <rect class="shape"  />
      <div class="text">Landing Page</div>
    </svg>
  </div>
  <div ng-click = "goTo('contact')"class="svg-wrapper">
    <svg  xmlns="http://www.w3.org/2000/svg">
      <rect class="shape"  />
      <div class="text">Contact</div>
    </svg>
  </div>
  <div ng-click = "goTo('porfolio')"class="svg-wrapper">
    <svg  xmlns="http://www.w3.org/2000/svg">
      <rect class="shape"  />
      <div class="text">Portfolio</div>
    </svg>
  </div>
</nav>
<div class="background-images">
  <section class = 'one'>
  </section>
  <section class = "two canvas-two">

  </section>
  <section class = 'three'>

  </section>
  <section class = 'four'>
    <div id="inner-div-four">

    </div>
  </section>
  <section class = 'five'>
    <bo-section></bo-section>

  </section>
  <section class= 'six'>
  </section>
</div>
<div class="absolute-one">
  <top-section></top-section>
</div>
<div class="popping-lights">
  <span class = "one-light"></span>
  <span class = "two-light"></span>
  <span class = "three-light"></span>
  <span class = "four-light"></span>
</div>
<div class="absolute-two">
  <break-section></break-section>
</div>
<div class="absolute-three">
  <middle-section></middle-section>
</div>
<div id="return-top">
  <span ng-click= 'returnTop()'class = 'glyphicon glyphicon-chevron-up'></span>
</div>
